/*
h1 {
    font-weight: bold;
  }
  
  thead th {
    font-weight: bold;
    text-align: center;
  }
  
  tbody td {
    vertical-align: middle;
  }
  
  .btn-danger {
    width: fit-content;
    padding: 0.3rem 0.6rem;
    font-size: 0.9rem;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  
  .table-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff;
  }
  ul.list-unstyled {
    padding-left: 1rem;
  }  
  .table-dark th {
    background-color: #343a40;
    color: #fff;
  }
  */